body{
    background-color: #183c7a;
}
#logo{
    height: 10%;
    width: 10%;
}
.container{
    background-color: #7dabfa;
    border: solid 5px #327bfa;
    border-radius: 25px;
    margin-top: 5%;
    max-width: 600px;
}