<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


  <title>computador 18 </title>
</head>

<body>
  <div class="container form-control">

  <center>
    <div class="text-bg-info p-3 ">
      <h1>Formulário do Cadastro</h1>
    </div>
  </center>
  <br>
 

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"> Primeiro Nome</label>
      <input type="email" style="width: 80em" class="form-control" id="exampleFormControlInput1"
        placeholder=" Primeiro nome">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"> Sobrenome</label>
      <input type="email" style="width: 80em" class="form-control" id="exampleFormControlInput1"
        placeholder=" Sobrenome">
    </div>


    <div class="mb-4">

      Sexo:
      <br>

      <div class="form-check-inline">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Masculino </label>
      </div>
      <div class="form-check-inline">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Feminino</label>
      </div>
    </div>



    <form class="row g-5">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">CPF</label>
        <input type="CPF" style="width: 38em" class="form-control" id="inputEmail4" placeholder=" CPF">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">RG/Passport</label>
        <input type="RG/Passport" style="width: 38em" class="form-control" id="inputPassword4" placeholder="RG ">
      </div>
    </form>

    <br>


    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"> Email</label>
      <input type="email" style="width: 80em" class="form-control" id="exampleFormControlInput1" placeholder=" Email">


    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"> Celular com DDD</label>
      <input type="email" style="width: 80em" class="form-control" id="exampleFormControlInput1"
        placeholder=" (00)0000-0000">
    </div>
    <br>
    <form class="row g-5">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Senha</label>
        <input type="CPF" style="width: 38em" class="form-control" id="inputEmail4" placeholder=" Senha">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Repita</label>
        <input type="RG/Passport" style="width: 38em" class="form-control" id="inputPassword4" placeholder="Repita ">
      </div>
      <center>
        <button type="button" style="width:9em" class="btn btn-info">cadastrar</button>
      </center>

  </div>
  </div>
  </form>


  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>

</body>

</html>