  
 <!DOCTYPE html>
 <html lang="pt-br">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

     <title>Página de cadastro</title>
 </head>

 <body>
     
       <body>
         <br>
         <br>
         <div font-style="Comic Sans"></div>
         <div class="container row-cols-8">
       <form class="p-4 p-ad-5 border rounded-5 bg-dark bg-opacity-100 text-white" action="">
         <center><h1>
           LOGIN
           <br> 
           <small class="text-muted">Cadastre seus dados</small>
         </h1></center>
           <div class="mb-3">
             <label for="exampleFormControlInput1" class="form-label">Primeiro nome</label>
             <input type="email" class="form-control border-primary" id="exampleFormControlInput1">
           </div>
           
           <div class="mb-3">
             <label for="exampleFormControlInput1" class="form-label">Sobrenome</label>
             <input type="email" class="form-control border-primary" id="exampleFormControlInput1">
           </div>
           <div class="form-check form-check-inline">

               <div class="col col-6"> 
             <label for="exampleFormControlInput1" class="form-label">Sexo</label>
             <div class="form-group">
             <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
             <label class="form-check-label" for="inlineRadio1">Feminino</label>
           </div>
           </div>
         </div>
           <div class="form-check form-check-inline">
             <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
             <label class="form-check-label" for="inlineRadio2">Masculino</label>
           </div>
           <br>
           <br>
           <div class="row g-3">
             <div class="col">
               <label for="exampleFormControlInput1" class="form-label">CPF</label>
               <input type="email" class="form-control border-primary" id="exampleFormControlInput1">
             </div>
             <div class="col">
               <label for="exampleFormControlInput1" class="form-label">RG</label>
               <input type="email" class="form-control border-primary" id="exampleFormControlInput1">
             </div>
           </div>
           <div class="mb-3">
             <label for="exampleFormControlInput1" class="form-label">email</label>
             <input type="email" class="form-control border-primary" id="exampleFormControlInput1">
              </div>
           <div class="mb-3">
             <div class="col">
             <label for="exampleFormControlInput1" class="form-label">Celular com DDD</label>
             <input type="email" class="form-control border-primary" id="exampleFormControlInput1">
           </div>
           </div>
           <div class="row g-3">
             <div class="col">
               <label for="exampleFormControlInput1" class="form-label">Senha</label>
               <input type="email" class="form-control border-primary" id="exampleFormControlInput1">
             </div>
             <div class="col">
               <label for="exampleFormControlInput1" class="form-label">Repita</label>
               <input type="email" class="form-control border-primary" id="exampleFormControlInput1">
           </div>
         </div>
           <div class="mb-3">
             <br>
           <center><button type="button" class="btn btn-outline-primary">Finalizar</button></center>
           </form>
         </div>
         </div>
         </div>
         </div>
          
 </body>
 </html>