<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Trabalho P. Web</title>
    <meta charset="utf-8">
  </head>
  
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <body>

    <div>
      <div class="row g-0 text-center"></div>
    <h1 id="titulo">
      <div class="text-bg-secondary p-3"><center><b><i>Formulário de Cadastro</i></b></center></div>
      </h1>
  </div>
  

  <fieldset class="row mb-3">
    
    <legend class="col-form-label col-sm-2 pt-0"></legend>
    <div class="col-sm-10">
      <div class="form-check">
        
      </div>
      <br>
         <div class="col-11">
        <label for="inputAddress2" class="form-label"><b>Primeiro Nome:</b></label>
        <input type="text" style="width:60%" class="form-control" id="inputEmail4" placeholder="Primeiro Nome"  type="email" class="form-control" >
      </div>
      <br>
      <div class="col-11">
        <label for="inputAddress2" class="form-label"><b>Sobrenome:</b></label>
        <input type="text"  style="width:60%"class="form-control" id="inputEmail4" placeholder="Sobrenome"  type="email" class="form-control" >
      </div>
      <br>
      <label for="inputAddress2" class="form-label"><b>Sexo:</b></label>
      <br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1"> Feminino</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2"> Masculino</label>
      </div>
      <br>
      <br>
      <form class="row g-8">
        <div class="col-md-12">
    <label for="inputAddress2" class="form-label"><b>CPF:</b></label>
    <input type="text" style="width:55%" class="form-control" id="inputEmail4" placeholder="CPF"  type="email" class="form-control" >
  </div>
  <br>
  <div class="col-md-12"> 
    <br>
    <label for="inputCity" class="form-label"><b>RG/Passaport:</b></label>
    <input type="text" style="width:55%" class="form-control" id="inputCity" placeholder="RG">
  </div>
  <br>
  <form class="row g-10">
    <br>
  <div class="col-md-4">
    <br>
    <label for="inputState" class="form-label"><b>E-mail:</b></label>
    <input type="text"  class="form-control" id="inputEmail4" placeholder="Seu@email.com">
  </div>
  <div class="col-md-4">
    <br>
    <label for="inputZip" class="form-label"><b>Celular com DDD:</b></label>
    <input type="text" style="width: 67%" class="form-control" id="inputEmail4" placeholder="(00) 0000-0000">
  </div>
  <div class="col-md-5">
    <br>
   <label for="inputState" class="form-label"><b>Senha:</b></label>
   <input type="text" style="width: 100%" class="form-control" id="inputSenha" placeholder="Senha">
   <br>
   <button type="button" class="btn btn-secondary"><b>Cadastrar</b></button>
  
   <br>
  </div>
 
  <div class="col-md-3">
     <br>
     
    <label for="inputZip" class="form-label"><b>Repita a Senha:</b></label>
    <input type="text" style="width: 60%" float="right" class="form-control" id="inputRepitaSenha" placeholder="Repita a Senha">
  </div>
  <div class="col-md-4">    
    </div>
  </div>
  
</form>
  </body>
</html>
